.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  > img {
    width: 100%;
    height: auto;

    margin-bottom: 8rem;
  }
}

.contentPost {
  margin: 0 auto;

  padding: 0 2rem;

  h1 {
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 5.8rem;

    text-align: left;

    color: var(--white);
  }

  h2 {
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 5.004rem;

    text-align: left;

    color: var(--white);
  }
}

.contentInfo {
  display: flex;
  align-items: center;

  margin-top: 2.4rem;
  margin-bottom: 6.4rem;

  time, span {
    display: flex;
    align-items: center;

    font-size: 1.4rem;
    line-height: 1.7rem;

    color: var(--gray-300);

    svg {
      margin-right: 0.8rem;
    }
  }

  span {
    margin: 0 2.4rem;
  }
}

.contentBody {
  margin: 3.6rem 0;

  ul, ol {
    & + p {
      margin-top: 1.8rem;
    }
  }

  p + ol {
    margin-top: 1.8rem;
  }

  li {
    & + li {
      margin-top: 1.8rem;
    }

    @media (max-width: 767px) {
      &::marker {
        font-size: 1.3rem;
      }
    }
  }

  p, li {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 2.52rem;

    text-align: justify;

    color: var(--gray-200);

    & + p, & + ul {
      margin-top: 1.8rem;
    }

    strong {
      font-weight: bold;
    }

    a {
      color: var(--pink-500);

      transition: filter 0.2s;

      &:hover {
        filter: brightness(0.8);
      }
    }

    img {
      display: block;

      width: 100%;
      height: auto;

      margin: 0 auto;
    }
  }
}
